extends layout

block content
  .container
    if (!user)
      a(href="/login") Login
      br
      a(href="/register") Register
    if (user)
      p You are currently logged in as #{user.username}
      br
      p Use postman to GET request /ping endpoint with token in Authorization header to check validity: #{token}
